<!--Index page containing information on events/news/featured ride-->
<!DOCTYPE html>
<html lang="en">

<!-- This head section contains all the invisible information about the page -->
<head>
    <title>{{ title | default('Test') }}</title>
    
    <!--css file/s-->
    <link rel="stylesheet" href="css/main.css">    
    
    <!--meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width intial-scale=1.0">
    <meta name="refresh" content="600">
    <meta name="description" content="{{ description | default('Front page of the amusement park Fun Village containing news, events, rides and contact details') }}">
    <meta name="keywords" content="{{ keywords | default('Amusement park, Theme Park, Fun Village') }}">
    <meta name="author" content="Fun Village">

    <script src="https://kit.fontawesome.com/301fc2a094.js" crossorigin="anonymous"></script>
</head>

<!-- This body section contains the structure for all the visble content -->
<body>

    <!--Header for all the pages containing navigation bars to moves between different pages-->    
    <header>
        <map name="homepage">
            <area shape="rect" coords="0,0,150,150" alt="Return to home page" href="index.html">
        </map>
        <nav>
            <ul class="nav-list">
                <li class="nav-list-item nav-list-item-img {{ "active" if activeIndex }}">
                    <img 
                        class="logo"
                        src="img/FunVillageLogo.png"
                        alt="Logo of Fun Village"
                        usemap="#homepage"
                        height="100%"
                    >
                    <a class="nav-list-item-text" href="index.html">
                        Home
                    </a>
                </li>
                <li class="nav-list-item {{ "active" if activeFacilities }}">
                    <a class="nav-list-item-text" href="facilities.html">Facilities</a>
                </li>
                <li class="nav-list-item {{ "active" if activeTickets }}">
                    <a class="nav-list-item-text" href="tickets.html">Tickets</a>
                </li>
            </ul>
        </nav>

        <!--Introduction text contained in header with park name and slogan-->
        <div class="intro">
            <h1 class="intro-title">Fun Village - Amusement Park</h1>
            <p class="intro-desc">Welcome to the most anticipated amusement park opening in 2022</p>
            <p class="intro-slogan"><em>Remember to have FUN</em></p>
        </div>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    <!--Footer containing address, navigation tools and logo-->
    <footer>
        <div class="grid">
            <div class="grid-item contact-us">
                <h2 class="contact-us-title">
                    Contact Us
                </h2>
                <p class="contact-us-text">
                    Please contact us for asking anything related to our park.
                </p>
                <p class="contact-us-text">
                    24/7 Email & Call 09:00 ~ 20:00
                </p>
                <p class="contact-us-text">
                    <a href="tel:088-9990-9990">088-9990-9990</a>
                </p>
                <p class="contact-us-text">
                    <a href="mailto:formoreinfo@funpark.com">formoreinfo@funpark.com</a>
                </p>
                <address class="contact-us-text">
                    3030 Wyatt Street STANFORD, Indiana(IN), 47463
                </address>
            </div>
            <div class="grid-item">
                <ul class="footer-nav">
                    <li class="footer-nav-item">
                        <a class="footer-nav-item-text" href="index.html">Home</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="footer-nav-item-text" href="facilities.html">Facilities</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="footer-nav-item-text" href="tickets.html">Tickets</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>