{% set activeFacilities = true %}

{% extends "layouts/main.njk" %}

{% block content %}
<div class="facilities-intro">

</div>

<div class="facilities">
    {% for facility in facilities %}
    <div class="facility" style="--background: url('{{ facility.img }}')">
        <div class="facility-inner">
            <h2 class="facility-title">{{ facility.title }}</h2>
            <p class="facility-desc">{{ facility.desc }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}