{% set activeIndex = true %}

{% extends "layouts/main.njk" %}

{% block content %}
<!--Scrollable banners with news and events containing text and images-->
<!--Banners with be displayed each seperately and navigated with a directional area-->
<div class="events">
    {% for event in events %}
    <div class="event" style="--background: url('{{ event.img }}')">
        <div class="event-inner">
            <h2 class="event-title">{{ event.title }}</h2>
            <p class="event-desc">{{ event.desc }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<br>

<div class="achivements">
    <h1 class="achivements-title">Achivements</h1>
    <p class="achivements-desc">There are some achivements to share with you</p>

    <div class="achivements-grid">
        <div class="achivement">
            <i class="fa-solid fa-rocket fa-10x"></i>
            <p class="achivement-desc">Max speed 220 km/h</p>
        </div>
        <div class="achivement">
            <i class="fa-solid fa-clock fa-10x"></i>
            <p class="achivement-desc">We exists for more than 10 years</p>
        </div>
        <div class="achivement">
            <i class="fa-solid fa-people-group fa-10x"></i>
            <p class="achivement-desc">More than 10 Mil happy client</p>
        </div>
        <div class="achivement">
            <i class="fa-solid fa-heart-crack fa-10x"></i>
            <p class="achivement-desc">0 danger</p>
        </div>
    </div>
</div>
{% endblock %}
