{% set activeIndex = true %}

{% extends "layouts/main.njk" %}

{% block content %}
<!--Scrollable banners with news and events containing text and images-->
<!--Banners with be displayed each seperately and navigated with a directional area-->
<div class="events">
    {% for event in events %}
    <div class="event" style="--background: url('/{{ event.img }}')">
        <div class="event-inner">
            <h2 class="event-title">{{ event.title }}</h2>
            <p class="event-desc">{{ event.desc }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<br>

<div id="fpFeaturedRides">
    <div class="fpRidesInformation">
        <h2>Featured ride</h2> <!--Each header will change according to selected ride-->
        <img src="ride1.png" alt="Selected feature ride" height="200" width="200"> <!--Selected ride from below images-->
        <p>Short description of seleceted featured ride, e.g. when it was buildt, highest speed reached, maximum g-force.</p> <!-- Each description will change for the selected ride-->
    </div>   
    
    <!--Hyperlinked image of different available rides at the park-->
    <div class="fpRidesInformation">  
        <img src="ride2.png" alt="Image of selectable ride" height="100" width="100">
        <img src="ride3.png" alt="Image of selectable ride" height="100" width="100">
        <img src="ride4.png" alt="Image of selectable ride" height="100" width="100">
    </div>
</div>
{% endblock %}
